
<div id="footer">

   <!-- <p>&copy; 2021 ExpenseApp | Company </p>
    <ul>
        <li> <a style="padding: 15px" href="#">About Us</a> </li>
        <li> <a style="padding: 15px" href="#">Company Stock</a> </li>
        <li> <a style="padding: 15px" href="#">Our Mission</a> </li>
        <li> <a style="padding: 15px" href="#">Reimbursement</a> </li>
    </ul>
-->
<div id = "boxes">
    <div id = "leftbox">
     <h5>Company Info</h5>
     
        <p> <a style="padding: 15px" href="#">About Us</a> </p> 
        <p> <a style="padding: 15px" href="#">Company Stock</a></p> 
       
     
    </div>
     
   <div id = "middlebox">
         <h5>Contact Us</h5>
       
         <p>Address: 7824 Skipping rock ln</p>
         <p>email: tj2@gmail.com</p>
         <p>Phone Number: 727-098-7654</p>
      
   </div>
   
   <div id = "rightbox">
     <h5>Miscellaneous</h5>
     
         <p><a class="" href="" >link 1</a></p>
         <p><a class="" href="">Link 2</a></p>
         <p><a class="" href="">Link 3</a></p>
   
    </div>
     <p>&copy; 2021 ExpenseApp | Company </p>
   </div>
   
</div>